<?xml version="1.0"?>
<config>
    <modules>
        <Wru_HomeTop>
            <version>0.0.1</version>
        </Wru_HomeTop>
    </modules>
    <global>
		<blocks>
			<hometop>
				<class>Wru_HomeTop_Block</class>				 
			</hometop>
			<adminhtml>
				<rewrite>  
                    <newsletter_subscriber_grid>Wru_HomeTop_Block_Grid</newsletter_subscriber_grid>  
                </rewrite>
			</adminhtml>
			<checkout>
				<rewrite>  
                    <links>Wru_HomeTop_Block_links</links>  
                </rewrite>
			</checkout>
		</blocks>
		<models>
			<hometop>
				<class>Wru_HomeTop_Model</class>
			</hometop>
		</models>
	</global>
	<frontend>
		<translate>
			<modules>
				<Wru_HomeTop>
					<files>
						<default>Wru_HomeTop.csv</default>
					</files>
				</Wru_HomeTop>
			</modules>
		</translate>
		<layout>
			<updates>
				<hometop>
					<file>Wru/hometop.xml</file>
				</hometop>
			</updates>
		</layout>	
		<events>
			<newsletter_subscriber_save_before>
                <observers>
                    <newsletter><!--ko quan trong-->
                        <type>singleton</type>
                        <class>hometop/observer</class>
                        <method>subscribeBefore</method>
                    </newsletter>
                </observers>
            </newsletter_subscriber_save_before>
        </events>
	</frontend>
</config>